services:
  webserver:
    image: pizhlo/bot-zanuda-webserver
    container_name: webserver
    restart: always
    volumes:
      - ./config/server.yaml:/app/config/config.yaml
    networks:
      - backend
    depends_on:
      - postgres
      - redis
      - rabbitmq
    ports:
      - "${WEB_SERVER_PORT}:8080"
    command: ["./server", "-config", "/app/config/config.yaml"]

  redis:
    image: "redis:alpine"
    container_name: redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend

  rabbitmq:
    image: "rabbitmq:management"
    container_name: rabbitmq
    restart: always
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_PORT_WEB}:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}  
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD} 
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq  
    networks:
      - backend 

  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - backend
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    command: ["postgres", "-c", "wal_level=logical", "-c", "max_wal_senders=10", "-c", "max_replication_slots=10"]
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      interval: 10s
      timeout: 3s
      retries: 5

volumes:
  pgdata:
  redis-data:
  rabbitmq-data:

networks:
  backend:
    driver: bridge