name: lint

on:
  push:

jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - uses: actions/setup-python@v5
          with:
            python-version: '3.13'
            
        - name: Install linters
          run: make install

        - name: Run linters
          run: make lint
    